html,
body {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 40px;
}

#conversational-form {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

#conversational-form
  div.conversational-form-inner
  cf-chat-response.robot
  text
  > p.show {
  color: white !important;
  background-color: indigo !important;
  font-size: 1.2em;
}

#conversational-form
  div.conversational-form-inner
  cf-chat-response.user
  text
  > p.show {
  color: black !important;
  background-color: orange !important;
  font-size: 1.2em;
}

#loginForm {
  width: 300px;
}

.row-container {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.column-container {
  display: table-cell;
  vertical-align: middle;
}

.login-link {
  text-align: right;
  padding: 10px;
  font-weight: bold;
}
